################################################################################
#
#  NetFPGA-10G http://www.netfpga.org
#
#  File:
#        nf10.ucf
#
#  Project:
#        loopback_test
#
#  Author:
#        James Hongyi Zeng
#
#  Description:
#        UCF for loopback_test
#
#  Copyright notice:
#        Copyright (C) 2010, 2011 The Board of Trustees of The Leland Stanford
#                                 Junior University
#
#  Licence:
#        This file is part of the NetFPGA 10G development base package.
#
#        This file is free code: you can redistribute it and/or modify it under
#        the terms of the GNU Lesser General Public License version 2.1 as
#        published by the Free Software Foundation.
#
#        This package is distributed in the hope that it will be useful, but
#        WITHOUT ANY WARRANTY; without even the implied warranty of
#        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#        Lesser General Public License for more details.
#
#        You should have received a copy of the GNU Lesser General Public
#        License along with the NetFPGA source package.  If not, see
#        http://www.gnu.org/licenses/.
#
#

#NET RS232_Uart_1_sin  LOC = BB23  |  IOSTANDARD=LVCMOS33;
#NET RS232_Uart_1_sout LOC = BB21  |  IOSTANDARD=LVCMOS33;

NET clk100_in		LOC = AN25 | IOSTANDARD = LVCMOS33 | TNM_NET = MAIN_CLK;
TIMESPEC TS_MAIN_CLK = PERIOD MAIN_CLK 10ns high 50%;	# 100MHZ CLOCK
NET "nf10_upb_clock_generator_0/clk_out" TNM_NET = CLK_TNM_NET;
NET "nf10_upb_clock_generator_0/clk2x_out" TNM_NET = CLK2X_TNM_NET;
NET "nf10_upb_clock_generator_0/clk2x90_out" TNM_NET = CLK2X90_TNM_NET;
NET "nf10_upb_clock_generator_0/clk100_out" TNM_NET = CLK100_TNM_NET;
NET "nf10_upb_clock_generator_0/clk20_out" TNM_NET = CLK20_TNM_NET;
NET reset_n_in		LOC = AL24 | IOSTANDARD = LVCMOS33;										# push button is active low

NET MDC               LOC = AK23   | IOSTANDARD = LVCMOS33;
NET MDIO              LOC = AL20   | IOSTANDARD = LVCMOS33;
NET PHY_RST_N         LOC = AR20   | IOSTANDARD = LVCMOS33  | PULLUP;       # external pullup

# GTX PLACEMENT #########################################################
# XAUI 0

NET nf10_upb_10g_interface_0_xaui_rx_l0_p_pin				LOC = Y1;
NET nf10_upb_10g_interface_0_xaui_rx_l0_n_pin				LOC = W1;
NET nf10_upb_10g_interface_0_xaui_tx_l0_p_pin				LOC = AA2;
NET nf10_upb_10g_interface_0_xaui_tx_l0_n_pin				LOC = Y2;

NET nf10_upb_10g_interface_0_xaui_rx_l1_p_pin				LOC = U1;
NET nf10_upb_10g_interface_0_xaui_rx_l1_n_pin				LOC = V1;
NET nf10_upb_10g_interface_0_xaui_tx_l1_p_pin				LOC = T2;
NET nf10_upb_10g_interface_0_xaui_tx_l1_n_pin				LOC = U2;

NET nf10_upb_10g_interface_0_xaui_rx_l2_p_pin				LOC = P1;
NET nf10_upb_10g_interface_0_xaui_rx_l2_n_pin				LOC = N1;
NET nf10_upb_10g_interface_0_xaui_tx_l2_p_pin				LOC = R2;
NET nf10_upb_10g_interface_0_xaui_tx_l2_n_pin				LOC = P2;

NET nf10_upb_10g_interface_0_xaui_rx_l3_p_pin				LOC = L1;
NET nf10_upb_10g_interface_0_xaui_rx_l3_n_pin				LOC = M1;
NET nf10_upb_10g_interface_0_xaui_tx_l3_p_pin				LOC = K2;
NET nf10_upb_10g_interface_0_xaui_tx_l3_n_pin				LOC = L2;

INST nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xaui_block/rocketio_wrapper_i/tile0_xaui_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y6;
INST nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xaui_block/rocketio_wrapper_i/tile1_xaui_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y7;


# XAUI 1

NET nf10_upb_10g_interface_1_xaui_rx_l0_p_pin				LOC = H1;
NET nf10_upb_10g_interface_1_xaui_rx_l0_n_pin				LOC = G1;
NET nf10_upb_10g_interface_1_xaui_tx_l0_p_pin				LOC = J2;
NET nf10_upb_10g_interface_1_xaui_tx_l0_n_pin				LOC = H2;

NET nf10_upb_10g_interface_1_xaui_rx_l1_p_pin				LOC = E1;
NET nf10_upb_10g_interface_1_xaui_rx_l1_n_pin				LOC = F1;
NET nf10_upb_10g_interface_1_xaui_tx_l1_p_pin				LOC = D2;
NET nf10_upb_10g_interface_1_xaui_tx_l1_n_pin				LOC = E2;

NET nf10_upb_10g_interface_1_xaui_rx_l2_p_pin				LOC = A2;
NET nf10_upb_10g_interface_1_xaui_rx_l2_n_pin				LOC = A3;
NET nf10_upb_10g_interface_1_xaui_tx_l2_p_pin				LOC = B1;
NET nf10_upb_10g_interface_1_xaui_tx_l2_n_pin				LOC = B2;

NET nf10_upb_10g_interface_1_xaui_rx_l3_p_pin				LOC = A5;
NET nf10_upb_10g_interface_1_xaui_rx_l3_n_pin				LOC = A4;
NET nf10_upb_10g_interface_1_xaui_tx_l3_p_pin				LOC = B6;
NET nf10_upb_10g_interface_1_xaui_tx_l3_n_pin				LOC = B5;

INST nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xaui_block/rocketio_wrapper_i/tile0_xaui_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y8;
INST nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xaui_block/rocketio_wrapper_i/tile1_xaui_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y9;

# XAUI 2

NET nf10_upb_10g_interface_2_xaui_rx_l0_p_pin				LOC = A8;
NET nf10_upb_10g_interface_2_xaui_rx_l0_n_pin				LOC = A9;
NET nf10_upb_10g_interface_2_xaui_tx_l0_p_pin				LOC = B7;
NET nf10_upb_10g_interface_2_xaui_tx_l0_n_pin				LOC = B8;

NET nf10_upb_10g_interface_2_xaui_rx_l1_p_pin				LOC = A11;
NET nf10_upb_10g_interface_2_xaui_rx_l1_n_pin				LOC = A10;
NET nf10_upb_10g_interface_2_xaui_tx_l1_p_pin				LOC = B12;
NET nf10_upb_10g_interface_2_xaui_tx_l1_n_pin				LOC = B11;

NET nf10_upb_10g_interface_2_xaui_rx_l2_p_pin				LOC = A14;
NET nf10_upb_10g_interface_2_xaui_rx_l2_n_pin				LOC = A15;
NET nf10_upb_10g_interface_2_xaui_tx_l2_p_pin				LOC = B13;
NET nf10_upb_10g_interface_2_xaui_tx_l2_n_pin				LOC = B14;

NET nf10_upb_10g_interface_2_xaui_rx_l3_p_pin				LOC = A17;
NET nf10_upb_10g_interface_2_xaui_rx_l3_n_pin				LOC = A16;
NET nf10_upb_10g_interface_2_xaui_tx_l3_p_pin				LOC = B18;
NET nf10_upb_10g_interface_2_xaui_tx_l3_n_pin				LOC = B17;

INST nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xaui_block/rocketio_wrapper_i/tile0_xaui_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y10;
INST nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xaui_block/rocketio_wrapper_i/tile1_xaui_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y11;

# XAUI 3

NET nf10_upb_10g_interface_3_xaui_rx_l0_p_pin				LOC = A26;
NET nf10_upb_10g_interface_3_xaui_rx_l0_n_pin				LOC = A27;
NET nf10_upb_10g_interface_3_xaui_tx_l0_p_pin				LOC = B25;
NET nf10_upb_10g_interface_3_xaui_tx_l0_n_pin				LOC = B26;

NET nf10_upb_10g_interface_3_xaui_rx_l1_p_pin				LOC = A29;
NET nf10_upb_10g_interface_3_xaui_rx_l1_n_pin				LOC = A28;
NET nf10_upb_10g_interface_3_xaui_tx_l1_p_pin				LOC = B30;
NET nf10_upb_10g_interface_3_xaui_tx_l1_n_pin				LOC = B29;

NET nf10_upb_10g_interface_3_xaui_rx_l2_p_pin				LOC = A32;
NET nf10_upb_10g_interface_3_xaui_rx_l2_n_pin				LOC = A33;
NET nf10_upb_10g_interface_3_xaui_tx_l2_p_pin				LOC = B31;
NET nf10_upb_10g_interface_3_xaui_tx_l2_n_pin				LOC = B32;

NET nf10_upb_10g_interface_3_xaui_rx_l3_p_pin				LOC = A35;
NET nf10_upb_10g_interface_3_xaui_rx_l3_n_pin				LOC = A34;
NET nf10_upb_10g_interface_3_xaui_tx_l3_p_pin				LOC = B36;
NET nf10_upb_10g_interface_3_xaui_tx_l3_n_pin				LOC = B35;

INST nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xaui_block/rocketio_wrapper_i/tile0_xaui_rocketio_wrapper_i/NO_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X0Y11;
INST nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xaui_block/rocketio_wrapper_i/tile1_xaui_rocketio_wrapper_i/NO_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X0Y10;

# refclk for Port A
NET "refclk_A_p"  LOC = "M4" ;
NET "refclk_A_n"  LOC = "M3" ;

# refclk for Port B
NET "refclk_B_p"  LOC = "C4" ;
NET "refclk_B_n"  LOC = "C3" ;

# refclk for Port C
NET "refclk_C_p"  LOC = "D16" ;
NET "refclk_C_n"  LOC = "C16" ;

# refclk for XAUI D
NET "refclk_D_p"  LOC = "D27" ;
NET "refclk_D_n"  LOC = "C27" ;


# TIMING ###################################################################
NET "nf10_upb_10g_interface_0/clk156" TNM_NET="clk156_top";
NET "nf10_upb_10g_interface_1/clk156" TNM_NET="clk156_top";
NET "nf10_upb_10g_interface_2/clk156" TNM_NET="clk156_top";
NET "nf10_upb_10g_interface_3/clk156" TNM_NET="clk156_top";
TIMESPEC "TS_clk156_top" = PERIOD "clk156_top" 156.25 MHz HIGH 50 %;

NET "nf10_upb_10g_input_*/nf10_upb_10g_input_*/flow_ctrl/state" TIG;

NET nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xaui_block/rocketio_wrapper_i/tile1_rxrecclk0_i TNM_NET=clk156_rec;
NET nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xaui_block/rocketio_wrapper_i/tile1_rxrecclk0_i TNM_NET=clk156_rec;
NET nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xaui_block/rocketio_wrapper_i/tile1_rxrecclk0_i TNM_NET=clk156_rec;
NET nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xaui_block/rocketio_wrapper_i/tile1_rxrecclk0_i TNM_NET=clk156_rec;
TIMESPEC TS_clk156_rec = PERIOD clk156_rec 156.25MHz;

################################################################################
# 10GE MAC INTERFACES
################################################################################
#######################################################
# Ten Gigabit Ethernet MAC core constraints           #
#######################################################

# False paths on an internal counter load
# MAC 0
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/data_avail_in_reg_*" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/pause_amber_reg" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/mux_control_state_*" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/state_*" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/eof_during_pad" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/count_*" TNM = "mac0_xgmac_ifg_false_paths_dst_1";
NET  "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_count_init<*>" TPTHRU = "mac0_xgmac_ifg_false_paths_thru_1";
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/Mcount_count_cy<?>" TPTHRU = "mac0_xgmac_ifg_false_paths_thru_2";
TIMESPEC "TS_mac0_xgmac_ifg_false_paths_thru_1" = FROM "mac0_xgmac_ifg_false_paths_src_1" THRU "mac0_xgmac_ifg_false_paths_thru_1" THRU "mac0_xgmac_ifg_false_paths_thru_2" TO "mac0_xgmac_ifg_false_paths_dst_1" TIG;

# MAC 1
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/data_avail_in_reg_*" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/pause_amber_reg" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/mux_control_state_*" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/state_*" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/eof_during_pad" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/count_*" TNM = "mac1_xgmac_ifg_false_paths_dst_1";
NET  "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_count_init<*>" TPTHRU = "mac1_xgmac_ifg_false_paths_thru_1";
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/Mcount_count_cy<?>" TPTHRU = "mac1_xgmac_ifg_false_paths_thru_2";
TIMESPEC "TS_mac1_xgmac_ifg_false_paths_thru_1" = FROM "mac1_xgmac_ifg_false_paths_src_1" THRU "mac1_xgmac_ifg_false_paths_thru_1" THRU "mac1_xgmac_ifg_false_paths_thru_2" TO "mac1_xgmac_ifg_false_paths_dst_1" TIG;

# MAC 2
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/data_avail_in_reg_*" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/pause_amber_reg" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/mux_control_state_*" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/state_*" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/eof_during_pad" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/count_*" TNM = "mac2_xgmac_ifg_false_paths_dst_1";
NET  "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_count_init<*>" TPTHRU = "mac2_xgmac_ifg_false_paths_thru_1";
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/Mcount_count_cy<?>" TPTHRU = "mac2_xgmac_ifg_false_paths_thru_2";
TIMESPEC "TS_mac2_xgmac_ifg_false_paths_thru_1" = FROM "mac2_xgmac_ifg_false_paths_src_1" THRU "mac2_xgmac_ifg_false_paths_thru_1" THRU "mac2_xgmac_ifg_false_paths_thru_2" TO "mac2_xgmac_ifg_false_paths_dst_1" TIG;

# MAC 3
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/data_avail_in_reg_*" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/pause_amber_reg" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/mux_control_state_*" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/state_*" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/eof_during_pad" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/count_*" TNM = "mac3_xgmac_ifg_false_paths_dst_1";
NET  "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_count_init<*>" TPTHRU = "mac3_xgmac_ifg_false_paths_thru_1";
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/Mcount_count_cy<?>" TPTHRU = "mac3_xgmac_ifg_false_paths_thru_2";
TIMESPEC "TS_mac3_xgmac_ifg_false_paths_thru_1" = FROM "mac3_xgmac_ifg_false_paths_src_1" THRU "mac3_xgmac_ifg_false_paths_thru_1" THRU "mac3_xgmac_ifg_false_paths_thru_2" TO "mac3_xgmac_ifg_false_paths_dst_1" TIG;

#######################################################
# Flow control clock crossing timing constraint
# MAC 0
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "mac0_flow_grp";
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "mac0_flow_grp";
INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "mac0_flow_grp";
TIMESPEC "TS_mac0_flow" = FROM "mac0_flow_grp" TO "clk156_top" 6400 ps DATAPATHONLY;

# MAC 1
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "mac1_flow_grp";
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "mac1_flow_grp";
INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "mac1_flow_grp";
TIMESPEC "TS_mac1_flow" = FROM "mac1_flow_grp" TO "clk156_top" 6400 ps DATAPATHONLY;

# MAC 2
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "mac2_flow_grp";
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "mac2_flow_grp";
INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "mac2_flow_grp";
TIMESPEC "TS_mac2_flow" = FROM "mac2_flow_grp" TO "clk156_top" 6400 ps DATAPATHONLY;

# MAC 3
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "mac3_flow_grp";
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "mac3_flow_grp";
INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "mac3_flow_grp";
TIMESPEC "TS_mac3_flow" = FROM "mac3_flow_grp" TO "clk156_top" 6400 ps DATAPATHONLY;

############################################################
# Reset path constraints                                   #
#  These constraints add a measure of protection against   #
#  metastability and skew in the reset nets.               #
############################################################

NET "*xgmac/BU2/U0/G_RX_RESET.sync_rx_reset_i/reset_out*" MAXDELAY = 4500 ps;
NET "*xgmac/BU2/U0/G_TX_RESET.sync_tx_reset_i/reset_out*" MAXDELAY = 4500 ps;
NET "*xgmac/BU2/U0/G_TX_RESET.sync_flow_ctrl_tx_reset_i/reset_out*" MAXDELAY = 4500 ps;
NET "*xgmac/BU2/U0/G_RX_RESET.sync_flow_ctrl_rx_reset_i/reset_out*" MAXDELAY = 4500 ps;

# PCIE #####################################################################
NET "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "MGTCLK" ;
TIMESPEC "TS_MGTCLK" = PERIOD "MGTCLK" 100.00 MHz HIGH 50 %;

# PCIe bus REFCLK (100 MHz)
NET  "pcie_clk_p"      LOC = AT4;
NET  "pcie_clk_n"      LOC = AT3;
NET "nf10_upb_dma_0/nf10_upb_dma_0/pcie_clk_internal" TNM_NET = "PCIE_CLK";
TIMESPEC "TS_PCIE_CLK" = PERIOD "PCIE_CLK" 100.00 MHz HIGH 50 %;
INST "nf10_upb_dma_0/nf10_upb_dma_0/pcie_clk_ibuf"  DIFF_TERM = "TRUE";

#INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTX_DUAL_X1Y5;
#INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTX_DUAL_X1Y4;
#INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTX_DUAL_X1Y3;
#INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTX_DUAL_X1Y2;

INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X5Y20;
INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y19;
INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y18;
INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y17;
INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y16;

NET pcie_top_0_pci_exp_0_rxp_pin				LOC = AC1;
NET pcie_top_0_pci_exp_0_rxn_pin				LOC = AD1;
NET pcie_top_0_pci_exp_0_txp_pin				LOC = AB2;
NET pcie_top_0_pci_exp_0_txn_pin				LOC = AC2;
NET pcie_top_0_pci_exp_1_rxp_pin				LOC = AF1;
NET pcie_top_0_pci_exp_1_rxn_pin				LOC = AE1;
NET pcie_top_0_pci_exp_1_txp_pin				LOC = AG2;
NET pcie_top_0_pci_exp_1_txn_pin				LOC = AF2;
NET pcie_top_0_pci_exp_2_rxp_pin				LOC = AJ1;
NET pcie_top_0_pci_exp_2_rxn_pin				LOC = AK1;
NET pcie_top_0_pci_exp_2_txp_pin				LOC = AH2;
NET pcie_top_0_pci_exp_2_txn_pin				LOC = AJ2;
NET pcie_top_0_pci_exp_3_rxp_pin				LOC = AM1;
NET pcie_top_0_pci_exp_3_rxn_pin				LOC = AL1;
NET pcie_top_0_pci_exp_3_txp_pin				LOC = AN2;
NET pcie_top_0_pci_exp_3_txn_pin				LOC = AM2;
NET pcie_top_0_pci_exp_4_rxp_pin				LOC = AR1;
NET pcie_top_0_pci_exp_4_rxn_pin				LOC = AT1;
NET pcie_top_0_pci_exp_4_txp_pin				LOC = AP2;
NET pcie_top_0_pci_exp_4_txn_pin				LOC = AR2;
NET pcie_top_0_pci_exp_5_rxp_pin				LOC = AV1;
NET pcie_top_0_pci_exp_5_rxn_pin				LOC = AU1;
NET pcie_top_0_pci_exp_5_txp_pin				LOC = AW2;
NET pcie_top_0_pci_exp_5_txn_pin				LOC = AV2;
NET pcie_top_0_pci_exp_6_rxp_pin				LOC = BB2;
NET pcie_top_0_pci_exp_6_rxn_pin				LOC = BB3;
NET pcie_top_0_pci_exp_6_txp_pin				LOC = BA1;
NET pcie_top_0_pci_exp_6_txn_pin				LOC = BA2;
NET pcie_top_0_pci_exp_7_rxp_pin				LOC = BB5;
NET pcie_top_0_pci_exp_7_rxn_pin				LOC = BB4;
NET pcie_top_0_pci_exp_7_txp_pin				LOC = BA6;
NET pcie_top_0_pci_exp_7_txn_pin				LOC = BA5;

###############################################################################
#DCI_CASCADING
#Syntax : CONFIG DCI_CASCADE = "<master> <slave1> <slave2> ..";
###############################################################################
CONFIG DCI_CASCADE = "23 27 13 25 29"; # last 3 banks are for RLDRAM-II
CONFIG DCI_CASCADE = "24 28 30 26 14"; # last 3 banks are for RLDRAM-II
CONFIG DCI_CASCADE = "5 7";
NET  "dci_masterbank_dummy_pin[*]"                   IOSTANDARD = HSTL_I_DCI;

################################################################################
# QDRII A INTERFACE ON SCHEMATIC
################################################################################

# IO STANDARDDS
NET  "qdr_a_d[*]"                              IOSTANDARD = HSTL_I;
NET  "qdr_a_q[*]"                              IOSTANDARD = HSTL_I_DCI;
NET  "qdr_a_sa[*]"                             IOSTANDARD = HSTL_I;
NET  "qdr_a_w_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_a_r_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_a_dll_off_n"                         IOSTANDARD = HSTL_I;
NET  "qdr_a_bw_n[*]"                           IOSTANDARD = HSTL_I;
NET  "qdr_a_cq"                                IOSTANDARD = HSTL_I_DCI | period = 3.3333333333ns high 50%;	# 300 MHz clock
NET  "qdr_a_cq_n"                              IOSTANDARD = HSTL_I_DCI | period = 3.3333333333ns high 50%;	# 300 MHz clock
NET  "qdr_a_k"                                 IOSTANDARD = HSTL_I;
NET  "qdr_a_k_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_a_c"                                 IOSTANDARD = HSTL_I;
NET  "qdr_a_c_n"                               IOSTANDARD = HSTL_I;

# PINOUT
NET  "qdr_a_d[0]"                              LOC = "Y29" ;          #Bank 11
NET  "qdr_a_d[1]"                              LOC = "Y30" ;          #Bank 11
NET  "qdr_a_d[2]"                              LOC = "W31" ;          #Bank 11
NET  "qdr_a_d[3]"                              LOC = "W30" ;          #Bank 11
NET  "qdr_a_d[4]"                              LOC = "AA31" ;         #Bank 11
NET  "qdr_a_d[5]"                              LOC = "AA30" ;         #Bank 11
NET  "qdr_a_d[6]"                              LOC = "Y35" ;          #Bank 11
NET  "qdr_a_d[7]"                              LOC = "AA35" ;         #Bank 11
NET  "qdr_a_d[8]"                              LOC = "U33" ;          #Bank 11
NET  "qdr_a_d[9]"                              LOC = "AB36" ;         #Bank 11
NET  "qdr_a_d[10]"                             LOC = "AC36" ;         #Bank 11
NET  "qdr_a_d[11]"                             LOC = "V33" ;          #Bank 11
NET  "qdr_a_d[12]"                             LOC = "U32" ;          #Bank 11
NET  "qdr_a_d[13]"                             LOC = "AA34" ;         #Bank 11
NET  "qdr_a_d[14]"                             LOC = "AB34" ;         #Bank 11
NET  "qdr_a_d[15]"                             LOC = "V31" ;          #Bank 11
NET  "qdr_a_d[16]"                             LOC = "U31" ;          #Bank 11
NET  "qdr_a_d[17]"                             LOC = "AB31" ;         #Bank 11
NET  "qdr_a_d[18]"                             LOC = "AB32" ;         #Bank 11
NET  "qdr_a_d[19]"                             LOC = "W36" ;          #Bank 11
NET  "qdr_a_d[20]"                             LOC = "W35" ;          #Bank 11
NET  "qdr_a_d[21]"                             LOC = "Y37" ;          #Bank 11
NET  "qdr_a_d[22]"                             LOC = "AA37" ;         #Bank 11
NET  "qdr_a_d[23]"                             LOC = "V36" ;          #Bank 11
NET  "qdr_a_d[24]"                             LOC = "W37" ;          #Bank 11
NET  "qdr_a_d[25]"                             LOC = "AA36" ;         #Bank 11
NET  "qdr_a_d[26]"                             LOC = "W32" ;          #Bank 11
NET  "qdr_a_d[27]"                             LOC = "W33" ;          #Bank 11
NET  "qdr_a_d[28]"                             LOC = "AA32" ;         #Bank 11
NET  "qdr_a_d[29]"                             LOC = "Y32" ;          #Bank 11
NET  "qdr_a_d[30]"                             LOC = "V34" ;          #Bank 11
NET  "qdr_a_d[31]"                             LOC = "V35" ;          #Bank 11
NET  "qdr_a_d[32]"                             LOC = "Y34" ;          #Bank 11
NET  "qdr_a_d[33]"                             LOC = "Y33" ;          #Bank 11
NET  "qdr_a_d[34]"                             LOC = "T37" ;          #Bank 11
NET  "qdr_a_d[35]"                             LOC = "U37" ;          #Bank 11
# BANK 27 ASSIGNED TO HAVE ALL READ DATA TOGETHER WITH CQ, CQ_N, DCI CASCADE IS USED =>SO F31,G31 ARE IOS
NET  "qdr_a_q[0]"                              LOC = "K30" ;          #Bank 27
NET  "qdr_a_q[1]"                              LOC = "L30" ;          #Bank 27
NET  "qdr_a_q[2]"                              LOC = "H30" ;          #Bank 27
NET  "qdr_a_q[3]"                              LOC = "J30" ;          #Bank 27
NET  "qdr_a_q[4]"                              LOC = "L32" ;          #Bank 27
NET  "qdr_a_q[5]"                              LOC = "M33" ;          #Bank 27
NET  "qdr_a_q[6]"                              LOC = "F31" ;          #Bank 27
NET  "qdr_a_q[7]"                              LOC = "G31" ;          #Bank 27
NET  "qdr_a_q[8]"                              LOC = "M32" ;          #Bank 27
NET  "qdr_a_q[9]"                              LOC = "M31" ;          #Bank 27
NET  "qdr_a_q[10]"                             LOC = "F30" ;          #Bank 27
NET  "qdr_a_q[11]"                             LOC = "N30" ;          #Bank 27
NET  "qdr_a_q[12]"                             LOC = "N31" ;          #Bank 27
NET  "qdr_a_q[13]"                             LOC = "F29" ;          #Bank 27
NET  "qdr_a_q[14]"                             LOC = "E29" ;          #Bank 27
NET  "qdr_a_q[15]"                             LOC = "P32" ;          #Bank 27
NET  "qdr_a_q[16]"                             LOC = "P31" ;          #Bank 27
NET  "qdr_a_q[17]"                             LOC = "H29" ;          #Bank 27
NET  "qdr_a_q[18]"                             LOC = "G29" ;          #Bank 27
NET  "qdr_a_q[19]"                             LOC = "R30" ;          #Bank 27
NET  "qdr_a_q[20]"                             LOC = "P30" ;          #Bank 27
NET  "qdr_a_q[21]"                             LOC = "H33" ;          #Bank 27
NET  "qdr_a_q[22]"                             LOC = "J32" ;          #Bank 27
NET  "qdr_a_q[23]"                             LOC = "G36" ;          #Bank 27
NET  "qdr_a_q[24]"                             LOC = "F35" ;          #Bank 27
NET  "qdr_a_q[25]"                             LOC = "G34" ;          #Bank 27
NET  "qdr_a_q[26]"                             LOC = "F34" ;          #Bank 27
NET  "qdr_a_q[27]"                             LOC = "E36" ;          #Bank 27
NET  "qdr_a_q[28]"                             LOC = "F32" ;          #Bank 27
NET  "qdr_a_q[29]"                             LOC = "G32" ;          #Bank 27
NET  "qdr_a_q[30]"                             LOC = "F37" ;          #Bank 27
NET  "qdr_a_q[31]"                             LOC = "E37" ;          #Bank 27
NET  "qdr_a_q[32]"                             LOC = "J31" ;          #Bank 27
NET  "qdr_a_q[33]"                             LOC = "H31" ;          #Bank 27
NET  "qdr_a_q[34]"                             LOC = "K32" ;          #Bank 27
NET  "qdr_a_cq"                                LOC = "L31" ;          #Bank 27
NET  "qdr_a_q[35]"                             LOC = "L29" ;          #Bank 27
NET  "qdr_a_cq_n"                              LOC = "K29" ;          #Bank 27
# BANK 23 NEW ASSIGNED TO HOLD ALL ADR, CTL, CLKS
NET  "qdr_a_sa[0]"                             LOC = "H34" ;          #Bank 23
NET  "qdr_a_sa[1]"                             LOC = "J33" ;          #Bank 23
NET  "qdr_a_sa[2]"                             LOC = "M36" ;          #Bank 23
NET  "qdr_a_sa[3]"                             LOC = "N36" ;          #Bank 23
NET  "qdr_a_sa[4]"                             LOC = "N33" ;          #Bank 23
NET  "qdr_a_sa[5]"                             LOC = "P33" ;          #Bank 23
NET  "qdr_a_sa[6]"                             LOC = "R32" ;          #Bank 23
NET  "qdr_a_sa[7]"                             LOC = "R33" ;          #Bank 23
NET  "qdr_a_sa[8]"                             LOC = "N34" ;          #Bank 23
NET  "qdr_a_sa[9]"                             LOC = "J35" ;          #Bank 23
NET  "qdr_a_sa[10]"                            LOC = "J36" ;          #Bank 23
NET  "qdr_a_sa[11]"                            LOC = "L37" ;          #Bank 23
NET  "qdr_a_sa[12]"                            LOC = "M37" ;          #Bank 23
NET  "qdr_a_sa[13]"                            LOC = "K38" ;          #Bank 23
NET  "qdr_a_sa[14]"                            LOC = "K37" ;          #Bank 23
NET  "qdr_a_sa[15]"                            LOC = "T32" ;          #Bank 23
NET  "qdr_a_sa[16]"                            LOC = "T31" ;          #Bank 23
NET  "qdr_a_sa[17]"                            LOC = "K35" ;          #Bank 23
NET  "qdr_a_sa[18]"                            LOC = "L34" ;          #Bank 23
NET  "qdr_a_bw_n[0]"                           LOC = "P37" ;          #Bank 23
NET  "qdr_a_w_n"                               LOC = "P38" ;          #Bank 23
NET  "qdr_a_bw_n[1]"                           LOC = "R38" ;          #Bank 23
NET  "qdr_a_r_n"                               LOC = "G37" ;          #Bank 23
NET  "qdr_a_bw_n[2]"                           LOC = "P36" ;          #Bank 23
NET  "qdr_a_k_n"                               LOC = "K33" ;          #Bank 23
NET  "qdr_a_k"                                 LOC = "K34" ;          #Bank 23
NET  "qdr_a_c_n"                               LOC = "N35" ;          #Bank 23
NET  "qdr_a_c"                                 LOC = "P35" ;          #Bank 23
NET  "qdr_a_bw_n[3]"                           LOC = "J38" ;          #Bank 23
NET  "qdr_a_dll_off_n"                         LOC = "J37" ;          #Bank 23 # pull-up on pcb
# SINCE NO DATA READ SIGNAL ON BANK23, DUMMY MASTERSEL PIN MUST BE ALLOCATED
NET  "dci_masterbank_dummy_pin[0]"                   LOC = "R35" ;          #Bank 23

########################################################################
# QDRII B INTERFACE ON SCHEMATIC
########################################################################

# IO STANDARDDS
NET  "qdr_b_d[*]"                              IOSTANDARD = HSTL_I;
NET  "qdr_b_q[*]"                              IOSTANDARD = HSTL_I_DCI;
NET  "qdr_b_sa[*]"                             IOSTANDARD = HSTL_I;
NET  "qdr_b_w_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_b_r_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_b_dll_off_n"                         IOSTANDARD = HSTL_I;
NET  "qdr_b_bw_n[*]"                           IOSTANDARD = HSTL_I;
NET  "qdr_b_cq"                                IOSTANDARD = HSTL_I_DCI | period = 3.3333333333ns high 50%;	# 300 MHz clock
NET  "qdr_b_cq_n"                              IOSTANDARD = HSTL_I_DCI | period = 3.3333333333ns high 50%;	# 300 MHz clock
NET  "qdr_b_k"                                 IOSTANDARD = HSTL_I;
NET  "qdr_b_k_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_b_c"                                 IOSTANDARD = HSTL_I;
NET  "qdr_b_c_n"                               IOSTANDARD = HSTL_I;

# PINOUT

# BANK 3 AND BANK 1 NEW ASSIGNED TO HOLD ALL WRITE DATA
NET  "qdr_b_d[0]"                              LOC = "M19" ;          #Bank 3
NET  "qdr_b_d[1]"                              LOC = "L19" ;          #Bank 3
NET  "qdr_b_d[2]"                              LOC = "M24" ;          #Bank 3
NET  "qdr_b_d[3]"                              LOC = "N24" ;          #Bank 3
NET  "qdr_b_d[4]"                              LOC = "J16" ;          #Bank 3
NET  "qdr_b_d[5]"                              LOC = "J15" ;          #Bank 3
NET  "qdr_b_d[6]"                              LOC = "L25" ;          #Bank 3
NET  "qdr_b_d[7]"                              LOC = "M26" ;          #Bank 3
NET  "qdr_b_d[8]"                              LOC = "K15" ;          #Bank 3
NET  "qdr_b_d[9]"                              LOC = "L15" ;          #Bank 3
NET  "qdr_b_d[10]"                             LOC = "L27" ;          #Bank 3
NET  "qdr_b_d[11]"                             LOC = "L26" ;          #Bank 3
NET  "qdr_b_d[12]"                             LOC = "M18" ;          #Bank 3
NET  "qdr_b_d[13]"                             LOC = "M17" ;          #Bank 3
NET  "qdr_b_d[14]"                             LOC = "K28" ;          #Bank 3
NET  "qdr_b_d[15]"                             LOC = "K27" ;          #Bank 3
NET  "qdr_b_d[16]"                             LOC = "L17" ;          #Bank 3
NET  "qdr_b_d[17]"                             LOC = "L16" ;          #Bank 3
NET  "qdr_b_d[18]"                             LOC = "M27" ;          #Bank 3
NET  "qdr_b_d[19]"                             LOC = "M28" ;          #Bank 3
NET  "qdr_b_d[20]"                             LOC = "P25" ;          #Bank 1
NET  "qdr_b_d[21]"                             LOC = "P26" ;          #Bank 1
NET  "qdr_b_d[22]"                             LOC = "P18" ;          #Bank 1
NET  "qdr_b_d[23]"                             LOC = "N19" ;          #Bank 1
NET  "qdr_b_d[24]"                             LOC = "N25" ;          #Bank 1
NET  "qdr_b_d[25]"                             LOC = "N26" ;          #Bank 1
NET  "qdr_b_d[26]"                             LOC = "P17" ;          #Bank 1
NET  "qdr_b_d[27]"                             LOC = "N18" ;          #Bank 1
NET  "qdr_b_d[28]"                             LOC = "N28" ;          #Bank 1
NET  "qdr_b_d[29]"                             LOC = "M14" ;          #Bank 1
NET  "qdr_b_d[30]"                             LOC = "L14" ;          #Bank 1
NET  "qdr_b_d[31]"                             LOC = "N29" ;          #Bank 1
NET  "qdr_b_d[32]"                             LOC = "M29" ;          #Bank 1
NET  "qdr_b_d[33]"                             LOC = "N16" ;          #Bank 1
NET  "qdr_b_d[34]"                             LOC = "M16" ;          #Bank 1
NET  "qdr_b_d[35]"                             LOC = "R27" ;          #Bank 1
# BANK 7 IS NEW ASSIGNED TO KEEP ALL DQS IN ONE BANK TOGETHER WITH CQ/CQ_N, DCI CASCADE => C20,D20 ARE IOS
NET  "qdr_b_q[0]"                              LOC = "J21" ;          #Bank 7
NET  "qdr_b_q[1]"                              LOC = "J22" ;          #Bank 7
NET  "qdr_b_q[2]"                              LOC = "H21" ;          #Bank 7
NET  "qdr_b_q[3]"                              LOC = "J20" ;          #Bank 7
NET  "qdr_b_q[4]"                              LOC = "A22" ;          #Bank 7
NET  "qdr_b_q[5]"                              LOC = "B21" ;          #Bank 7
NET  "qdr_b_q[6]"                              LOC = "C20" ;          #Bank 7
NET  "qdr_b_q[7]"                              LOC = "D20" ;          #Bank 7
NET  "qdr_b_q[8]"                              LOC = "F24" ;          #Bank 7
NET  "qdr_b_q[9]"                              LOC = "G23" ;          #Bank 7
NET  "qdr_b_q[10]"                             LOC = "A20" ;          #Bank 7
NET  "qdr_b_q[11]"                             LOC = "N23" ;          #Bank 7
NET  "qdr_b_q[12]"                             LOC = "M23" ;          #Bank 7
NET  "qdr_b_q[13]"                             LOC = "K20" ;          #Bank 7
NET  "qdr_b_q[14]"                             LOC = "L20" ;          #Bank 7
NET  "qdr_b_q[15]"                             LOC = "E23" ;          #Bank 7
NET  "qdr_b_q[16]"                             LOC = "E24" ;          #Bank 7
NET  "qdr_b_q[17]"                             LOC = "P22" ;          #Bank 7
NET  "qdr_b_q[18]"                             LOC = "P21" ;          #Bank 7
NET  "qdr_b_q[19]"                             LOC = "E25" ;          #Bank 7
NET  "qdr_b_q[20]"                             LOC = "F25" ;          #Bank 7
NET  "qdr_b_q[21]"                             LOC = "M21" ;          #Bank 7
NET  "qdr_b_q[22]"                             LOC = "N21" ;          #Bank 7
NET  "qdr_b_q[23]"                             LOC = "L22" ;          #Bank 7
NET  "qdr_b_q[24]"                             LOC = "M22" ;          #Bank 7
NET  "qdr_b_q[25]"                             LOC = "E22" ;          #Bank 7
NET  "qdr_b_q[26]"                             LOC = "D23" ;          #Bank 7
NET  "qdr_b_q[27]"                             LOC = "D22" ;          #Bank 7
NET  "qdr_b_q[28]"                             LOC = "G22" ;          #Bank 7
NET  "qdr_b_q[29]"                             LOC = "F22" ;          #Bank 7
NET  "qdr_b_q[30]"                             LOC = "D21" ;          #Bank 7
NET  "qdr_b_q[31]"                             LOC = "C21" ;          #Bank 7
NET  "qdr_b_q[32]"                             LOC = "L21" ;          #Bank 7
NET  "qdr_b_q[33]"                             LOC = "K22" ;          #Bank 7
NET  "qdr_b_q[34]"                             LOC = "B23" ;          #Bank 7
NET  "qdr_b_cq"                                LOC = "B22" ;          #Bank 7
NET  "qdr_b_q[35]"                             LOC = "G21" ;          #Bank 7
NET  "qdr_b_cq_n"                              LOC = "F21" ;          #Bank 7
#BANK 5 NEW ASSIGNED TO HOLD ALL ADR/ CTL / CLKS
NET  "qdr_b_sa[0]"                             LOC = "J23" ;          #Bank 5
NET  "qdr_b_sa[1]"                             LOC = "K23" ;          #Bank 5
NET  "qdr_b_sa[2]"                             LOC = "K19" ;          #Bank 5
NET  "qdr_b_sa[3]"                             LOC = "K18" ;          #Bank 5
NET  "qdr_b_sa[4]"                             LOC = "J25" ;          #Bank 5
NET  "qdr_b_sa[5]"                             LOC = "K25" ;          #Bank 5
NET  "qdr_b_sa[6]"                             LOC = "F27" ;          #Bank 5
NET  "qdr_b_sa[7]"                             LOC = "G27" ;          #Bank 5
NET  "qdr_b_sa[8]"                             LOC = "E19" ;          #Bank 5
NET  "qdr_b_sa[9]"                             LOC = "H26" ;          #Bank 5
NET  "qdr_b_sa[10]"                            LOC = "J26" ;          #Bank 5
NET  "qdr_b_sa[11]"                            LOC = "F16" ;          #Bank 5
NET  "qdr_b_sa[12]"                            LOC = "F17" ;          #Bank 5
NET  "qdr_b_sa[13]"                            LOC = "G28" ;          #Bank 5
NET  "qdr_b_sa[14]"                            LOC = "H28" ;          #Bank 5
NET  "qdr_b_sa[15]"                            LOC = "G16" ;          #Bank 5
NET  "qdr_b_sa[16]"                            LOC = "H16" ;          #Bank 5
NET  "qdr_b_sa[17]"                            LOC = "J27" ;          #Bank 5
NET  "qdr_b_sa[18]"                            LOC = "J28" ;          #Bank 5
NET  "qdr_b_bw_n[0]"                           LOC = "F20" ;          #Bank 5
NET  "qdr_b_w_n"                               LOC = "E20" ;          #Bank 5
NET  "qdr_b_bw_n[1]"                           LOC = "L24" ;          #Bank 5
NET  "qdr_b_r_n"                               LOC = "K24" ;          #Bank 5
NET  "qdr_b_bw_n[2]"                           LOC = "H19" ;          #Bank 5
NET  "qdr_b_k_n"                               LOC = "H23" ;          #Bank 5
NET  "qdr_b_k"                                 LOC = "G19" ;          #Bank 5
NET  "qdr_b_c_n"                               LOC = "F19" ;          #Bank 5
NET  "qdr_b_c"                                 LOC = "H25" ;          #Bank 5
NET  "qdr_b_bw_n[3]"                           LOC = "G24" ;          #Bank 5
NET  "qdr_b_dll_off_n"                         LOC = "G17" ;          #Bank 5 #HWIRED ON BOARD
# SINCE NO DATA READ SIGNAL ON BANK23, DUMMY MASTERSEL PIN MUST BE ALLOCATED
NET  "dci_masterbank_dummy_pin[1]"                   LOC = "F26" ;          #Bank 5

################################################################################
# QDRII C INTERFACE ON SCHEMATIC
################################################################################

# IO STANDARDDS
NET  "qdr_c_d[*]"                              IOSTANDARD = HSTL_I;
NET  "qdr_c_q[*]"                              IOSTANDARD = HSTL_I_DCI;
NET  "qdr_c_sa[*]"                             IOSTANDARD = HSTL_I;
NET  "qdr_c_w_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_c_r_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_c_dll_off_n"                         IOSTANDARD = HSTL_I;
NET  "qdr_c_bw_n[*]"                           IOSTANDARD = HSTL_I;
NET  "qdr_c_cq"                                IOSTANDARD = HSTL_I_DCI | period = 3.3333333333ns high 50%;	# 300 MHz clock
NET  "qdr_c_cq_n"                              IOSTANDARD = HSTL_I_DCI | period = 3.3333333333ns high 50%;	# 300 MHz clock
NET  "qdr_c_k"                                 IOSTANDARD = HSTL_I;
NET  "qdr_c_k_n"                               IOSTANDARD = HSTL_I;
NET  "qdr_c_c"                                 IOSTANDARD = HSTL_I;
NET  "qdr_c_c_n"                               IOSTANDARD = HSTL_I;

# PINOUT
# BANK 12 AS IS ON SCHEMATIC R1.1
NET  "qdr_c_d[0]"                              LOC = "P5" ;           #Bank 12
NET  "qdr_c_d[1]"                              LOC = "R5" ;           #Bank 12
NET  "qdr_c_d[2]"                              LOC = "AA10" ;         #Bank 12
NET  "qdr_c_d[3]"                              LOC = "AA11" ;         #Bank 12
NET  "qdr_c_d[4]"                              LOC = "T7" ;           #Bank 12
NET  "qdr_c_d[5]"                              LOC = "U7" ;           #Bank 12
NET  "qdr_c_d[6]"                              LOC = "W10" ;          #Bank 12
NET  "qdr_c_d[7]"                              LOC = "W11" ;          #Bank 12
NET  "qdr_c_d[8]"                              LOC = "AC9" ;          #Bank 12
NET  "qdr_c_d[9]"                              LOC = "V9" ;           #Bank 12
NET  "qdr_c_d[10]"                             LOC = "V8" ;           #Bank 12
NET  "qdr_c_d[11]"                             LOC = "AC10" ;         #Bank 12
NET  "qdr_c_d[12]"                             LOC = "AD11" ;         #Bank 12
NET  "qdr_c_d[13]"                             LOC = "P7" ;           #Bank 12
NET  "qdr_c_d[14]"                             LOC = "R7" ;           #Bank 12
NET  "qdr_c_d[15]"                             LOC = "AB11" ;         #Bank 12
NET  "qdr_c_d[16]"                             LOC = "AC11" ;         #Bank 12
NET  "qdr_c_d[17]"                             LOC = "N6" ;           #Bank 12
NET  "qdr_c_d[18]"                             LOC = "P6" ;           #Bank 12
NET  "qdr_c_d[19]"                             LOC = "Y8" ;           #Bank 12
NET  "qdr_c_d[20]"                             LOC = "Y7" ;           #Bank 12
NET  "qdr_c_d[21]"                             LOC = "T5" ;           #Bank 12
NET  "qdr_c_d[22]"                             LOC = "T6" ;           #Bank 12
NET  "qdr_c_d[23]"                             LOC = "Y10" ;          #Bank 12
NET  "qdr_c_d[24]"                             LOC = "AA9" ;          #Bank 12
NET  "qdr_c_d[25]"                             LOC = "V6" ;           #Bank 12
NET  "qdr_c_d[26]"                             LOC = "AA6" ;          #Bank 12
NET  "qdr_c_d[27]"                             LOC = "AA7" ;          #Bank 12
NET  "qdr_c_d[28]"                             LOC = "Y9" ;           #Bank 12
NET  "qdr_c_d[29]"                             LOC = "W8" ;           #Bank 12
NET  "qdr_c_d[30]"                             LOC = "AC6" ;          #Bank 12
NET  "qdr_c_d[31]"                             LOC = "AB6" ;          #Bank 12
NET  "qdr_c_d[32]"                             LOC = "W6" ;           #Bank 12
NET  "qdr_c_d[33]"                             LOC = "W7" ;           #Bank 12
NET  "qdr_c_d[34]"                             LOC = "AB7" ;          #Bank 12
NET  "qdr_c_d[35]"                             LOC = "AB8" ;          #Bank 12
# BANK 28 IS NEW ASSIGNED TO KEEP ALL DQS IN ONE BANK TOGETHER WITH CQ/CQ_N, DCI CASCADE => M13,N13 ARE IOS
NET  "qdr_c_q[0]"                              LOC = "F9" ;           #Bank 28
NET  "qdr_c_q[1]"                              LOC = "F10" ;          #Bank 28
NET  "qdr_c_q[2]"                              LOC = "L11" ;          #Bank 28
NET  "qdr_c_q[3]"                              LOC = "L10" ;          #Bank 28
NET  "qdr_c_q[4]"                              LOC = "F12" ;          #Bank 28
NET  "qdr_c_q[5]"                              LOC = "G12" ;          #Bank 28
NET  "qdr_c_q[6]"                              LOC = "M13" ;          #Bank 28
NET  "qdr_c_q[7]"                              LOC = "N13" ;          #Bank 28
NET  "qdr_c_q[8]"                              LOC = "G13" ;          #Bank 28
NET  "qdr_c_q[9]"                              LOC = "H13" ;          #Bank 28
NET  "qdr_c_q[10]"                             LOC = "M11" ;          #Bank 28
NET  "qdr_c_q[11]"                             LOC = "F14" ;          #Bank 28
NET  "qdr_c_q[12]"                             LOC = "E14" ;          #Bank 28
NET  "qdr_c_q[13]"                             LOC = "N11" ;          #Bank 28
NET  "qdr_c_q[14]"                             LOC = "P11" ;          #Bank 28
NET  "qdr_c_q[15]"                             LOC = "G14" ;          #Bank 28
NET  "qdr_c_q[16]"                             LOC = "F15" ;          #Bank 28
NET  "qdr_c_q[17]"                             LOC = "R12" ;          #Bank 28
NET  "qdr_c_q[18]"                             LOC = "P12" ;          #Bank 28
NET  "qdr_c_q[19]"                             LOC = "H15" ;          #Bank 28
NET  "qdr_c_q[20]"                             LOC = "H14" ;          #Bank 28
NET  "qdr_c_q[21]"                             LOC = "H10" ;          #Bank 28
NET  "qdr_c_q[22]"                             LOC = "J11" ;          #Bank 28
NET  "qdr_c_q[23]"                             LOC = "F11" ;          #Bank 28
NET  "qdr_c_q[24]"                             LOC = "G11" ;          #Bank 28
NET  "qdr_c_q[25]"                             LOC = "H9" ;           #Bank 28
NET  "qdr_c_q[26]"                             LOC = "G9" ;           #Bank 28
NET  "qdr_c_q[27]"                             LOC = "E12" ;          #Bank 28
NET  "qdr_c_q[28]"                             LOC = "K10" ;          #Bank 28
NET  "qdr_c_q[29]"                             LOC = "J10" ;          #Bank 28
NET  "qdr_c_q[30]"                             LOC = "J13" ;          #Bank 28
NET  "qdr_c_q[31]"                             LOC = "K14" ;          #Bank 28
NET  "qdr_c_q[32]"                             LOC = "K12" ;          #Bank 28
NET  "qdr_c_q[33]"                             LOC = "K13" ;          #Bank 28
NET  "qdr_c_q[34]"                             LOC = "J12" ;          #Bank 28
NET  "qdr_c_cq"                                LOC = "H11" ;          #Bank 28
NET  "qdr_c_q[35]"                             LOC = "M12" ;          #Bank 28
NET  "qdr_c_cq_n"                              LOC = "L12" ;          #Bank 28
# BANK 24 NEW ASSIGNED TO HOLD ALL ADR, CTL, CLKS
NET  "qdr_c_sa[0]"                             LOC = "U12" ;          #Bank 24
NET  "qdr_c_sa[1]"                             LOC = "V11" ;          #Bank 24
NET  "qdr_c_sa[2]"                             LOC = "R10" ;          #Bank 24
NET  "qdr_c_sa[3]"                             LOC = "P10" ;          #Bank 24
NET  "qdr_c_sa[4]"                             LOC = "P8" ;           #Bank 24
NET  "qdr_c_sa[5]"                             LOC = "R9" ;           #Bank 24
NET  "qdr_c_sa[6]"                             LOC = "T10" ;          #Bank 24
NET  "qdr_c_sa[7]"                             LOC = "T11" ;          #Bank 24
NET  "qdr_c_sa[8]"                             LOC = "J6" ;           #Bank 24
NET  "qdr_c_sa[9]"                             LOC = "N8" ;           #Bank 24
NET  "qdr_c_sa[10]"                            LOC = "M8" ;           #Bank 24
NET  "qdr_c_sa[11]"                            LOC = "M9" ;           #Bank 24
NET  "qdr_c_sa[12]"                            LOC = "N9" ;           #Bank 24
NET  "qdr_c_sa[13]"                            LOC = "M6" ;           #Bank 24
NET  "qdr_c_sa[14]"                            LOC = "M7" ;           #Bank 24
NET  "qdr_c_sa[15]"                            LOC = "K8" ;           #Bank 24
NET  "qdr_c_sa[16]"                            LOC = "J7" ;           #Bank 24
NET  "qdr_c_sa[17]"                            LOC = "L7" ;           #Bank 24
NET  "qdr_c_sa[18]"                            LOC = "K7" ;           #Bank 24
NET  "qdr_c_bw_n[0]"                           LOC = "G8" ;           #Bank 24
NET  "qdr_c_w_n"                               LOC = "G7" ;           #Bank 24
NET  "qdr_c_bw_n[1]"                           LOC = "U11" ;          #Bank 24
NET  "qdr_c_r_n"                               LOC = "V10" ;          #Bank 24
NET  "qdr_c_bw_n[2]"                           LOC = "E8" ;           #Bank 24
NET  "qdr_c_k_n"                               LOC = "L6" ;           #Bank 24
NET  "qdr_c_k"                                 LOC = "F6" ;           #Bank 24
NET  "qdr_c_c_n"                               LOC = "G6" ;           #Bank 24
NET  "qdr_c_c"                                 LOC = "U8" ;           #Bank 24
NET  "qdr_c_bw_n[3]"                           LOC = "U9" ;           #Bank 24
NET  "qdr_c_dll_off_n"                         LOC = "H5" ;           #Bank 24 #HWIRED ON BOARD
# SINCE NO DATA READ SIGNAL ON BANK23, DUMMY MASTERSEL PIN MUST BE ALLOCATED
NET  "dci_masterbank_dummy_pin[2]"                   LOC = "R8" ;           #Bank 24

###############################################################################
# FPGA Reprog signal to CPLD
###############################################################################

NET "axi_cfg_fpga_0_GPIO_IO_pin<0>" 	LOC = "AK17"  |  IOSTANDARD=LVCMOS33 | PULLUP; 
NET "axi_cfg_fpga_0_GPIO_IO_pin<1>" 	LOC = "AJ17"  |  IOSTANDARD=LVCMOS33 | PULLUP; 

###############################################################################
# Flash constraints
###############################################################################

NET "axi_emc_0_Mem_OEN_pin<0>"      	LOC = "AM17"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_CEN_pin<0>"      	LOC = "AL17"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_WEN_pin"	      	LOC = "AR27"  |  IOSTANDARD=LVCMOS33 ;       

NET "axi_emc_0_Mem_A_pin<23>"		   	LOC = "AJ18"  |  IOSTANDARD=LVCMOS33 ;
NET "axi_emc_0_Mem_A_pin<22>"			 	LOC = "AK28"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<21>"			  	LOC = "AM27"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<20>"			 	LOC = "AK18"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_A_pin<19>"		    	LOC = "AL27"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_A_pin<18>"			  	LOC = "AP27"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<17>"		    	LOC = "AR24"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_A_pin<16>"		    	LOC = "AT24"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_A_pin<15>"		    	LOC = "AN21"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<14>"		    	LOC = "AM22"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<13>"		   	LOC = "AW23"  |  IOSTANDARD=LVCMOS33 ;   
NET "axi_emc_0_Mem_A_pin<12>"			 	LOC = "AY23"  |  IOSTANDARD=LVCMOS33 ;   
NET "axi_emc_0_Mem_A_pin<11>"		    	LOC = "AL22"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_A_pin<10>"			  	LOC = "AK22"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<9>"			  	LOC = "AN23"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<8>"			  	LOC = "AP23"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_A_pin<7>"			 	LOC = "BA20"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_A_pin<6>"		     	LOC = "AY20"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_A_pin<5>"		    	LOC = "AR23"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<4>"		     	LOC = "AT22"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<3>"		     	LOC = "AW21"  |  IOSTANDARD=LVCMOS33 ;   
NET "axi_emc_0_Mem_A_pin<2>"		     	LOC = "AW22"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_A_pin<1>"		     	LOC = "AR22"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_A_pin<0>"		     	LOC = "AP22"  |  IOSTANDARD=LVCMOS33 ;     

NET "axi_emc_0_Mem_DQ_pin<7>"	      	LOC = "AM18"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_DQ_pin<6>"	      	LOC = "AM19"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_DQ_pin<5>"	      	LOC = "AP26"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_DQ_pin<4>"	      	LOC = "AN26"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_DQ_pin<3>"	      	LOC = "AL19"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_DQ_pin<2>"	      	LOC = "AK19"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_DQ_pin<1>"	      	LOC = "AP25"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_DQ_pin<0>"	      	LOC = "AR25"  |  IOSTANDARD=LVCMOS33 ; 

################################################################################
# Interconnect...
################################################################################

NET "nf10_upb_interconnect_*/nf10_upb_interconnect_*/aurora_input/tx_stopped" TIG;

################################################################################
# GTX_DUAL PLACEMENT
################################################################################
INST nf10_upb_interconnect_0/nf10_upb_interconnect_0/aurora_input/aurora_module_i/gtx_wrapper_i/GTX_TILE_INST/gtx_dual_i LOC=GTX_DUAL_X0Y5;
INST nf10_upb_interconnect_0/nf10_upb_interconnect_0/aurora_input/aurora_module_i/gtx_wrapper_i/GTX_TILE_INST_LANE1/gtx_dual_i LOC=GTX_DUAL_X0Y6;
INST nf10_upb_interconnect_0/nf10_upb_interconnect_0/aurora_input/aurora_module_i/gtx_wrapper_i/GTX_TILE_INST_LANE2/gtx_dual_i LOC=GTX_DUAL_X0Y7;
INST nf10_upb_interconnect_0/nf10_upb_interconnect_0/aurora_input/aurora_module_i/gtx_wrapper_i/GTX_TILE_INST_LANE3/gtx_dual_i LOC=GTX_DUAL_X0Y8;
INST nf10_upb_interconnect_0/nf10_upb_interconnect_0/aurora_input/aurora_module_i/gtx_wrapper_i/GTX_TILE_INST_LANE4/gtx_dual_i LOC=GTX_DUAL_X0Y9;

################################ CLOCK CONSTRAINTS ##############################

# User Clock Constraint: Value is selected based on the line rate (6.25 Gbps) and lane width (4-Byte)
NET "nf10_upb_interconnect_*/nf10_upb_interconnect_*/aurora_input/clock_module_i/clkout0_o" TNM_NET = AURORA_USER_CLK;
#TIMESPEC TS_AURORA_USER_CLK_I = PERIOD "AURORA_USER_CLK" 6.4 ns HIGH 50%; # 6.25 GHz GTX rate, 156.25MHz user_clk
#TIMESPEC TS_AURORA_USER_CLK_I = PERIOD "AURORA_USER_CLK" 8 ns HIGH 50%; # 5 GHz GTX rate, 125MHz user_clk
#TIMESPEC TS_AURORA_USER_CLK_I = PERIOD "AURORA_USER_CLK" 12.8 ns HIGH 50%; # 3.125 GHz GTX rate, 78.125MHz user_clk
TIMESPEC TS_AURORA_USER_CLK_I = PERIOD "AURORA_USER_CLK" 16 ns HIGH 50%; # 2.5 GHz GTX rate, 62.5MHz user_clk

# Sync Clock Constraint: Value is selected based on the line rate (6.25 Gbps) and lane width (4-Byte)
NET "nf10_upb_interconnect_*/nf10_upb_interconnect_*/aurora_input/clock_module_i/clkout1_o" TNM_NET = AURORA_SYNC_CLK;
#TIMESPEC TS_AURORA_SYNC_CLK_I = PERIOD "AURORA_SYNC_CLK" 3.2 ns HIGH 50%; # 6.25 GHz GTX rate, 312.5MHz sync_clk
#TIMESPEC TS_AURORA_SYNC_CLK_I = PERIOD "AURORA_SYNC_CLK" 4 ns HIGH 50%; # 5 GHz GTX rate, 250MHz sync_clk
#TIMESPEC TS_AURORA_SYNC_CLK_I = PERIOD "AURORA_SYNC_CLK" 6.4 ns HIGH 50%; # 3.125 GHz GTX rate, 156.25MHz sync_clk
TIMESPEC TS_AURORA_SYNC_CLK_I = PERIOD "AURORA_SYNC_CLK" 8 ns HIGH 50%; # 2.5 GHz GTX rate, 125MHz sync_clk

# 125.0MHz GTX Reference clock constraint 
NET nf10_upb_interconnect_0_GTXD8_P_pin  LOC=F39; 
NET nf10_upb_interconnect_0_GTXD8_N_pin  LOC=F40;
NET nf10_upb_interconnect_0/nf10_upb_interconnect_0/aurora_input/GTXD8_left_i PERIOD = 8.0 ns HIGH 50%;

###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG_AURORA_INIT_CLK_USER_CLK" = FROM "CLK20_TNM_NET" TO "AURORA_USER_CLK" TIG; 


################################################################################
# GTX_DUAL PINS
################################################################################
NET nf10_upb_interconnect_0_RXP_pin<9> LOC = A41; # Bank 123
NET nf10_upb_interconnect_0_RXN_pin<9> LOC = A40; # Bank 123
NET nf10_upb_interconnect_0_RXP_pin<8> LOC = A38; # Bank 123
NET nf10_upb_interconnect_0_RXN_pin<8> LOC = A39; # Bank 123
NET nf10_upb_interconnect_0_RXP_pin<7> LOC = H42; # Bank 119
NET nf10_upb_interconnect_0_RXN_pin<7> LOC = G42; # Bank 119
NET nf10_upb_interconnect_0_RXP_pin<6> LOC = E42; # Bank 119
NET nf10_upb_interconnect_0_RXN_pin<6> LOC = F42; # Bank 119
NET nf10_upb_interconnect_0_RXP_pin<5> LOC = P42; # Bank 115
NET nf10_upb_interconnect_0_RXN_pin<5> LOC = N42; # Bank 115
NET nf10_upb_interconnect_0_RXP_pin<4> LOC = L42; # Bank 115
NET nf10_upb_interconnect_0_RXN_pin<4> LOC = M42; # Bank 115
NET nf10_upb_interconnect_0_RXP_pin<3> LOC = Y42; # Bank 111
NET nf10_upb_interconnect_0_RXN_pin<3> LOC = W42; # Bank 111
NET nf10_upb_interconnect_0_RXP_pin<2> LOC = U42; # Bank 111
NET nf10_upb_interconnect_0_RXN_pin<2> LOC = V42; # Bank 111
NET nf10_upb_interconnect_0_RXP_pin<1> LOC = AF42; # Bank 113
NET nf10_upb_interconnect_0_RXN_pin<1> LOC = AE42; # Bank 113
NET nf10_upb_interconnect_0_RXP_pin<0> LOC = AC42; # Bank 113
NET nf10_upb_interconnect_0_RXN_pin<0> LOC = AD42; # Bank 113

NET nf10_upb_interconnect_0_TXP_pin<9> LOC = B42; # Bank 123
NET nf10_upb_interconnect_0_TXN_pin<9> LOC = B41; # Bank 123
NET nf10_upb_interconnect_0_TXP_pin<8> LOC = B37; # Bank 123
NET nf10_upb_interconnect_0_TXN_pin<8> LOC = B38; # Bank 123
NET nf10_upb_interconnect_0_TXP_pin<7> LOC = J41; # Bank 119
NET nf10_upb_interconnect_0_TXN_pin<7> LOC = H41; # Bank 119
NET nf10_upb_interconnect_0_TXP_pin<6> LOC = D41; # Bank 119
NET nf10_upb_interconnect_0_TXN_pin<6> LOC = E41; # Bank 119
NET nf10_upb_interconnect_0_TXP_pin<5> LOC = R41; # Bank 115
NET nf10_upb_interconnect_0_TXN_pin<5> LOC = P41; # Bank 115
NET nf10_upb_interconnect_0_TXP_pin<4> LOC = K41; # Bank 115
NET nf10_upb_interconnect_0_TXN_pin<4> LOC = L41; # Bank 115
NET nf10_upb_interconnect_0_TXP_pin<3> LOC = AA41; # Bank 111
NET nf10_upb_interconnect_0_TXN_pin<3> LOC = Y41; # Bank 111
NET nf10_upb_interconnect_0_TXP_pin<2> LOC = T41; # Bank 111
NET nf10_upb_interconnect_0_TXN_pin<2> LOC = U41; # Bank 111
NET nf10_upb_interconnect_0_TXP_pin<1> LOC = AG41; # Bank 113
NET nf10_upb_interconnect_0_TXN_pin<1> LOC = AF41; # Bank 113
NET nf10_upb_interconnect_0_TXP_pin<0> LOC = AB41; # Bank 113
NET nf10_upb_interconnect_0_TXN_pin<0> LOC = AC41; # Bank 113

# Placement constraints

INST "nf10_upb_dma_0/nf10_upb_dma_0/ep/*" AREA_GROUP = "pcie_blk";
AREA_GROUP "pcie_blk" RANGE=SLICE_X126Y40:SLICE_X155Y119;
AREA_GROUP "pcie_blk" RANGE=RAMB36_X5Y23:RAMB36_X6Y8;

INST "nf10_upb_dma_0/nf10_upb_dma_0/u_dma/*" AREA_GROUP = "dma";
INST "nf10_upb_dma_0/nf10_upb_dma_0/u_axi_m/*" AREA_GROUP = "dma";
INST "nf10_upb_dma_0/nf10_upb_dma_0/u_axi_test/*" AREA_GROUP = "dma";
AREA_GROUP "dma" RANGE=CLOCKREGION_X1Y2:CLOCKREGION_X1Y5;

# There are Problems with the IC (only) in the upb_l2switch project:

#ERROR:Place:539 - The design has objects that are constrained to a set of sites.
#   The number of objects constrained (104) of type BLOCKRAM is too large for the
#   number of available sites (that are not prohibited and not already taken by
#   other locked components) of this type in this set (80) .
#   The following constraints are causing this issue:
#     COMPGRP "interconnect_0.RAMB36" LOCATE =  SITE "RAMB36_X0Y20:RAMB36_X1Y39"
#   LEVEL 4
#   Encountered an infeasibility when trying to place 104 components to 80 sites.
#   BLOCKRAM ( 9)  Comps    104 Sites     80 AvailEmptySites     80. Reserved 104
#   sites for BLOCKRAM comps.

#INST "nf10_upb_interconnect_0" AREA_GROUP = "interconnect_0";
#AREA_GROUP "interconnect_0" RANGE=SLICE_X0Y100:SLICE_X35Y199;
#AREA_GROUP "interconnect_0" RANGE=RAMB36_X0Y20:RAMB36_X1Y39;

INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xaui_block/*" AREA_GROUP = "xaui_0";
AREA_GROUP "xaui_0" RANGE=SLICE_X136Y120:SLICE_X155Y159;
AREA_GROUP "xaui_0" RANGE=RAMB36_X5Y24:RAMB36_X6Y31;

INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xaui_block/*" AREA_GROUP = "xaui_1";
AREA_GROUP "xaui_1" RANGE=SLICE_X136Y160:SLICE_X155Y199;
AREA_GROUP "xaui_1" RANGE=RAMB36_X5Y32:RAMB36_X6Y39;

INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xaui_block/*" AREA_GROUP = "xaui_2";
AREA_GROUP "xaui_2" RANGE=SLICE_X136Y200:SLICE_X155Y239;
AREA_GROUP "xaui_2" RANGE=RAMB36_X5Y40:RAMB36_X6Y47;

INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xaui_block/*" AREA_GROUP = "xaui_3";
AREA_GROUP "xaui_3" RANGE=SLICE_X0Y200:SLICE_X19Y239;
AREA_GROUP "xaui_3" RANGE=RAMB36_X0Y40:RAMB36_X0Y47;

#INST "nf10_upb_10g_interface_0/nf10_upb_10g_interface_0/xgmac" AREA_GROUP = "xgmac_0";
#INST "nf10_upb_10g_input_0" AREA_GROUP = "xgmac_0";
#AREA_GROUP "xgmac_0" RANGE=CLOCKREGION_X1Y6:CLOCKREGION_X1Y7;

#INST "nf10_upb_10g_interface_1/nf10_upb_10g_interface_1/xgmac" AREA_GROUP = "xgmac_1";
#INST "nf10_upb_10g_input_1" AREA_GROUP = "xgmac_0";
#AREA_GROUP "xgmac_1" RANGE=CLOCKREGION_X1Y8:CLOCKREGION_X1Y9;

#INST "nf10_upb_10g_interface_2/nf10_upb_10g_interface_2/xgmac" AREA_GROUP = "xgmac_2";
#INST "nf10_upb_10g_input_2" AREA_GROUP = "xgmac_0";
#AREA_GROUP "xgmac_2" RANGE=CLOCKREGION_X1Y10:CLOCKREGION_X1Y11;

#INST "nf10_upb_10g_interface_3/nf10_upb_10g_interface_3/xgmac" AREA_GROUP = "xgmac_3";
#INST "nf10_upb_10g_input_3" AREA_GROUP = "xgmac_0";
#AREA_GROUP "xgmac_3" RANGE=CLOCKREGION_X0Y10:CLOCKREGION_X0Y11;

INST "nf10_upb_output_queue_0" AREA_GROUP = "output_queue";
AREA_GROUP "output_queue" RANGE=SLICE_X0Y90:SLICE_X99Y239;
AREA_GROUP "output_queue" RANGE=DSP48_X0Y36:DSP48_X0Y95;
AREA_GROUP "output_queue" RANGE=RAMB36_X0Y18:RAMB36_X3Y47;
